.sideContainer {
  /* background: #f738c4; */
  background: var(--color-bg);
  width: 35px;
  /* height: 87vh; */
  position: fixed;
  bottom: 10px;
}

.sideWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sideUp {
  /* height: 50vh; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #000; */
}
.sideUp > div {
  width: 5%;
}

.sideDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 36vh; */
  width: 100%;
  flex-direction: column;
}

.sideDown > .sideIcons a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  color: rgb(206, 206, 206);
  /* margin-top: 50px; */
}
.sideDown > .sideIcons hr {
  background-color: var(--color-primary);
  border-width: 0px;
  height: 80px;
  width: 1px;
  margin-left: 19px;
}
.sideDown > .sideIcons > a > .sideIcon {
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;
}
.sideDown > .sideIcons > a > .sideIcon:hover {
  color: var(--color-primary);
  border-bottom: 1px solid #fcfcfc;
}
.sideDown > .empty {
  width: 5%;
  background: var(--color-primary);
}
